<html>
    
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/test.css">
        <link rel="stylesheet" href="static/css/home.css">

        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/newjs.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
    
    </head>

    <body>
        
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #BA0021;text-align: center;">
                <div class="container-fluid"
                    style="margin-top: 12px;height:20px;align-items: center;font-size: larger;font-weight: bold;padding: 20px;">
                    <a class="navbar-brand" style="color: white;padding-bottom: 40px;padding-right: 20px; font-style: italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top:10px">ABC</a>
                        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="margin-top:10px;color: white;padding-bottom: 40px;padding-right: 20px;padding-left: 20px; font-style: italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="margin-top:10px;color: white;padding-right: 20px;padding-left: 20px; font-style: italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="margin-top:10px;color: white; font-style: italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" href="{{url_for('last')}}">Mypage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:1050px;margin-top:10px;color: white; font-style: italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" href="{{url_for('index')}}">Logout</a>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
        
            <!--Symptoms structure-->
        
            <!-- <div class="card shadow-lg p-3 mb-5 " style="width: 65rem;height:35rem;margin:25px;margin-left:220px;box-shadow:5px">
                <div class="card-body">
                    <h2 class="card-title" style="text-align:center;margin-bottom:25px;color:#BA0021">Symptoms</h2>
                    <h3 class="card-subtitle mb-2 text-muted"style="text-align:center;margin: top 75px;"><h3 style='text-align:center;margin: top 75px; margin-bottom: 80px;'>Please Enter Your Symptomps! </h3></h3>
                    
        
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="headache" id="headache" name="symptom[]" >
                                <h5><label class="form-check-label" for="flexCheckDefault">Headache</label></h5>
                            </div>
                            
                            <div class="form-check" style="margin-top:20px">
                                <input class="form-check-input" type="checkbox" value="seizure" id="seizure">
                                <h5><label class="form-check-label" for="flexCheckChecked">Seizure</label></h5>
                            </div>
        
                            <div class="form-check" style="margin-top:20px">
                                <input class="form-check-input" type="checkbox" value="nausea" id="nausea">
                                <h5><label class="form-check-label" for="flexCheckChecked">Nausea</label></h5>
                            </div>
              
                          <div class="form-check" style="margin-top:20px">
                            <input class="form-check-input" type="checkbox" value="drowsiness" id="drowsiness">
                            <h5><label class="form-check-label" for="flexCheckChecked">Drowsiness</label></h5>
                        </div>
              
                        <div class="form-check" style="margin-top:20px">
                            <input class="form-check-input" type="checkbox" value="fatigue" id="fatigue">
                            <h5><label class="form-check-label" for="flexCheckChecked">Fatigue</label></h5>
                        </div>
              
                        <input type="submit" name="submit" style="background-color:#BA0021;color:white;margin:20px;padding:8px;width:150px"  value="Submit" >

                        <h4 id="result"></h4>
        
                        <script>
                            $(document).ready(function() {
                                $('#submit').click(function() {
                                    var insert = [];
                                    $('.get_value').each(function() {
                                        if ($(this).is(":checked")) {
                                            insert.push($(this).val());
                                        }
                                    });
                                    insert = insert.toString();         
                                    var insert_string = 'checkboxvalue='+insert;            
                                    $.ajax({
                                        method: "POST",
                                        url: "/last",
                                        data: insert_string,
                                        cache: false,
                                        success: function(data){    
                                            $("#result").html(data);
                                        }
                                    });
                                });
                            });
                        </script>

                        <br><br>
        
                        </form>
        
                </div>
        
            </div>
         -->
            <br><br>


            <div class="card shadow-lg p-3 mb-5 " style="width: 65rem;height:35rem;margin:25px;margin-left:220px;box-shadow:5px">
                <div class="card-body">
                    <h2 class="card-title" style="text-align:center;margin-bottom:25px;color:#BA0021">Symptoms</h2>
                    <h3 class="card-subtitle mb-2 text-muted"style="text-align:center;margin: top 75px;"><h3 style='text-align:center;margin: top 75px; margin-bottom: 80px;'>Please Enter Your Symptomps! </h3></h3>
            
                        <label><input type="checkbox" class="get_value" value="Headache"> Headache</label>
                        <br/>
                        <label> <input type="checkbox" class="get_value" value="Nausea"> Nausea</label>
                        <br/>
                        <label><input type="checkbox" class="get_value" value="Seizure"> Seizure</label>
                        <br/>
                        <label><input type="checkbox" class="get_value" value="Drowsiness"> Drowsiness</label>
                        <br/>
                        <label><input type="checkbox" class="get_value" value="Fatigue"> Fatigue</label>
                        <br/>
                        <br/>
                        <button type="button" name="submit" id="submit">Save</button>
                        <br/>
                    
                    <h4 id="result1"></h4>
                </div>
            </div>
            
            <!-- <script>
                $(document).ready(function() {
                    $('#submit').click(function() {
                        var insert = [];
                        $('.get_value').each(function() {
                            if ($(this).is(":checked")) {
                                insert.push($(this).val());
                            }
                        });
                        insert = insert.toString();         
                        var insert_string = 'checkboxvalue='+insert;            
                        $.ajax({
                            method: "POST",
                            url: "/last",
                            data: insert_string,
                            cache: false,
                            success: function(data){    
                                $("#result1").html(data);
                            }
                        });
                    });
                });
            </script>  -->
        
            <center>
                <div>
        
                <!--Image upload structure-->
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" class="btn btn-success" id="imageUpload" accept=".png, .jpg, .jpeg">
                    </form>
        
        
                    <div class="image-section" style="display:none;">
                        <img id="imagePreview"  class="img-responsive" src="#" style="width:300px;height:300px;"/><br><br>
                            
                        <div>
                            <button type="button" class="btn btn-info btn-lg " id="btn-predict">Submit!</button>
                        </div>
                    </div>
        
                    <div class="loader" style="display:none;"></div>
                
                    <h3 id="result">
                        <span> </span>
                    </h3>

                </div>
            </center>
        
        
        

        
    </body>

</html>









